* {
    box-sizing: border-box;
}



body {
    font-family: "Poppins", sans-serif;
    color: #333;
    background-color: snow;
    margin: 0 auto;
    max-width: 2048px;
    background-image: url("/img/abstract.jpg");
}

.item {
    padding: 12px;
    background-color: #0c0c18;
    border-radius: 6px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
    color: white;
}



.item-showcase{
    background-image: url("/img/retro.jpg");
    color: #5118a2;
    box-shadow: 2px 6px rgba(0, 0, 0, 0.25);
    text-align: center;

}


.height-50 {
    height: 50vh;
}

.task-3-1.container {
    display:grid;
    height: 100vh;
    grid-template-rows: 100px 80px auto 1fr 1fr 1fr auto;
    gap: 10px;
}

.item-navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: auto;
    background-color: #333;
}

.item-navigation li a {
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    text-align: center;
}

.navbar-link:hover:not(active) {
    background-color: #111;
}

.grid-container-text-image, .grid-container-image-text {
    display: grid;
    grid-template-columns: 1fr;
}

.img-responsive {
    width: 100%;
}

@media (min-width: 720px) {

    #navbar, .navigation {
        list-style-type: none;
        overflow: hidden;
        background-color: #333;
        align-items: center;

    }

    .navbar-item {
        float: left;
    }

    .navbar-item2 {
        float: right;
    }

    .navbar-link {
        display: grid;
        color: white;
        text-align: center;
        padding: 1px 10px;
        text-decoration: none;
    }

    .navbar-link:hover:not(active) {
        background-color: #111;
    }

    .active {
        background-color: black;
    }

    .grid-container-text-image, .grid-container-image-text {
        grid-template-columns: 1fr 1fr;
    }

    @media (min-width: 1200px) {
        .grid-container-text-image {
            grid-template-columns: 2fr 1fr;
        }

}



