/* Mobile */
* {
    box-sizing: border-box;
}

body {
    margin: 0em;
    padding: 0;
    background-color: #000000;
    color: white;
    background-image: url("../img/abstract.jpg");
    font-family: 'Poppins', serif;
}

section, aside {
    margin: 0;
    padding: 30px;
    border-bottom: 1px solid black;
}

footer {
    padding: 10px;
}

.header {
    background: #5118a2;
    margin: 0;
    padding: 10px

}

.hero {
    text-align: center;
    font-size: 1em;
    color: #5118a2;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/retro.jpg");;

}


.wrapper {
    margin: auto;
    max-width: 1200px;

}

.content {
    background: #0c0c18;
    font-size: 25px;


}

.sidebar {
    background: #673ab7;
}

.sidebar-image {
    width: 30%;
}

.footer {
    background: #333;


}

.red {
    background-color: #333;

}

.green {
    background-color: #333;
}

.orange {
    background-color: #333;
}

.blue {
    background-color: #333;
}



.footer-flex-container {
    display: flex;
    flex-wrap: wrap;

}

.red, .green, .orange, .blue {
    padding: 0;
    flex-basis: 100%;
}

.grid-container-text-image {
    display: grid;
    grid-template-columns: 1fr;
}

.img-responsive {
    height: 100px;
    width: 100px;


}

/* Tablet */
@media screen and (min-width: 768px) {
    .grid-container {
        display: grid;
        grid-template-columns: 2fr 1fr;

    }

    .red, .green, .orange, .blue {
        flex-basis: 50%;
    }

    .grid-container-text-image {
        grid-template-columns: 1fr 1fr;
    }

    .img-responsive {
        justify-content: center;
        align-items: center;
    }

    .sidebar{
        background: #0c0c18
    }

    .sidebar-image {
        width: 70%;
    }

}

/* laptop/Desktop */
@media screen and (min-width: 900px) {
    .grid-container {
        grid-template-columns: 3fr 1fr;
    }

    .sidebar{
        background: #0c0c18
    }

    .sidebar-image{
        width: 100%;
    }

    .red, .green, .orange, .blue {
        flex-basis: 25%;
    }

    .grid-container-text-image {
        grid-template-columns: 3fr 1fr;
    }
}

#navbar{
    list-style-type: none;
    margin: 0;
    padding: 0.5em;
    overflow: hidden;
    background-color: #333;

}

.navbar-item{
    float: left;
}

.navbar-item2{
    float: right;
}

.navbar-link{
    display: block;
    color: white;
    text-align: center;
    padding: 0.7em 0.4em;
    text-decoration: none;
}

.navbar-link:hover:not(active){
    background-color: #111;
}
.active{
    background-color: black;
}

.sidebar{
    background: #0c0c18
}

