
* {
    box-sizing: border-box;
}


body {
    font-family: "Poppins", sans-serif;
    color: #333;
    background-color: snow;
    margin: 0 auto;
    max-width: 2048px;
    background-image: url("../img/abstract.jpg");
}

.item {
    padding: 12px;
    background-color: #0c0c18;
    border-radius: 6px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
    color: white;
}


.task-3-1 .showcase {
    background-image: url("../img/retro.jpg");
    color: #5118a2;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
    text-align: center;
}


.height-50 {
    height: 50vh;
}

.container {
    display: grid;
    height: 100vh;
    grid-template-rows: 90px 50px 200px 1fr auto auto;
    gap: 10px;
}

.fakeimg1 {
    background-color: #aaa;
    width: 100%;
    height: 500px;
    padding: 20px;

    background-image: url("../img/norrsken1.jpg");
}

.fakeimg2 {
    background-color: #aaa;
    width: 100%;
    height: 500px;
    padding: 20px;
    background-image: url("../img/thunderstorm.jpg");
}

.fakeimg3 {
    background-color: #aaa;
    width: 100%;
    height: 500px;
    padding: 20px;
    background-image: url("../img/sun.jpg");

}


@media (min-width: 720px) {
    .task-3-1.container {
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: auto 50px auto auto auto auto auto;
    }

    .task-3-1 .header {
        grid-column: 1 / span 12;
    }

    .task-3-1 .navigation {
        grid-column: 1 / span 12;
    }

    .task-3-1 .showcase {
        grid-column: 1 / span 12;
    }

    .task-3-1 .blogg1 {
        grid-column: 3 / span 8;
        grid-row: 4;

    }

    .task-3-1 .blogg2 {
        grid-column: 3 / span 8;
        grid-row: 5;
    }

    .task-3-1 .blogg3 {
        grid-column: 3 / span 8;
        grid-row: 6;
    }

    .task-3-1 .footer {
        grid-column: 1 / span 12;
        grid-row: 12;
    }


    @media (min-width: 1500px) {
        .task-3-1.container {
            grid-template-columns: repeat(12, 1fr);
            grid-template-rows: 100px 60px 100px 1fr 1fr 1fr auto;
        }

        .task-3-1 .header {
            grid-column: 1 / span 12;
        }

        .task-3-1 .navigation {
            grid-column: 1 / span 12;
        }

        .task-3-1 .showcase {
            grid-column: 1 / span 12;
        }

        .task-3-1 .blogg1 {
            grid-column: 4 / span 6;
            grid-row: 4;

        }

        .task-3-1 .blogg2 {
            grid-column: 4 / span 6;
            grid-row: 5;
        }

        .task-3-1 .blogg3 {
            grid-column: 4 / span 6;
            grid-row: 6;
        }

        .task-3-1 .footer {
            grid-column: 1 / span 12;
            grid-row: 12;
        }

        .fakeimg {
            background-color: #aaa;
            width: 100%;
            padding: 20px;
        }


    }
}

