body{
    background-color: #161616;
    color: #555;
    font-family: Poppins;
    font-size: 16px;
    line-height: 1.6em;
    margin: 0;
    background-image: url("bilder/spmUM.gif");
    background-position: top;
    background-position: 500px 8400px;
}






